@tailwind base;
@tailwind components;
@tailwind utilities;

.cell {
  @apply transition-all duration-200 aspect-square text-white font-bold border border-black leading-[0] relative
}

.cell::after {
  content: '';
  @apply absolute top-0 left-0 w-full h-full bg-black transform scale-0 transition-all duration-200 translate-y-[-50px]
}

.cell::after.blocked {
  content: '';
  @apply transform scale-100 translate-y-0
}

@keyframes cellVisited {
  0% {
    transform: scale(1.2);
    @apply bg-[#0080ff] rounded border-2
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}